.container {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.title {
  text-align: center;
}

.s3List {
  flex: 1
}

.viewer {
  flex: 4
}

.link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}